<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131141576893-mi98n9v9ncdabivm4akn707ju2dh1dn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131141576893-mi98n9v9ncdabivm4akn707ju2dh1dn3</string>
	<key>API_KEY</key>
	<string>AIzaSyB5kNsNMLcaXeXuegGjEuk0WJHLRiBgA_A</string>
	<key>GCM_SENDER_ID</key>
	<string>131141576893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolox.appTest</string>
	<key>PROJECT_ID</key>
	<string>testcore-4f5e9</string>
	<key>STORAGE_BUCKET</key>
	<string>testcore-4f5e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131141576893:ios:745e62604af2dca09b6fd4</string>
	<key>DATABASE_URL</key>
	<string>https://testcore-4f5e9.firebaseio.com</string>
</dict>
</plist>
